// breakpoints
// ============================================
$breakpoints: (
  "x": (
    max-width: 375px,
  ),
  "xs": (
    max-width: 460px,
  ),
  "sm": (
    max-width: 640px,
  ),
  "md": (
    max-width: 768px,
  ),
  "lg": (
    max-width: 1024px,
  ),
  "xl": (
    max-width: 1280px,
  ),
) !default;

$breakpoints--min: (
  "x": (
    max-width: 376px,
  ),
  "xs": (
    min-width: 461px,
  ),
  "sm": (
    min-width: 641px,
  ),
  "md": (
    min-width: 769px,
  ),
  "lg": (
    min-width: 1025px,
  ),
  "xl": (
    min-width: 1281px,
  ),
) !default;
