@use "../variable" as f-variable;

//  object-fit
// ============================================
@mixin object-fit($value: fill, $position: null) {
  object-fit: $value;

  @if $position {
    object-position: $position;
    font-family: "object-fit: #{$value}; object-position: #{$position}", sans-serif;
  } @else {
    font-family: "object-fit: #{$value}", sans-serif;
  }
}

// 使い方
// .image {
//   &.-image1 {
//     @include g.object-fit(cover);
//   }

//   &.-image2 {
//     @include g.object-fit(contain, top center);
//   }
// }
