<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="https://www.takashimaya.co.jp/sto/common/image/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.takashimaya.co.jp/sto/common/image/apple-touch-icon.png" />
  <link rel="apple-touch-icon-precomposed" href="https://www.takashimaya.co.jp/sto/common/image/apple-touch-icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>テスト環境</title>

  <!-- common style -->
  <link href="https://www.takashimaya.co.jp/sto/common/css/lib/slick.css" rel="stylesheet" />
  <link href="https://www.takashimaya.co.jp/sto/common/css/lib/slick-theme.css" rel="stylesheet" />
  <link href="https://www.takashimaya.co.jp/sto/common/css/common.css" rel="stylesheet" />
  <link href="https://www.takashimaya.co.jp/sto/common/css/common2.css" rel="stylesheet" />
  <link href="https://www.takashimaya.co.jp/sto/shopping/common/css/common.css" rel="stylesheet" />
  <link href="https://www.takashimaya.co.jp/sto/shopping/common/css/common2.css" rel="stylesheet" />
  <link href="https://www.takashimaya.co.jp/include/shopping/common/css/renewal20_add_20210330.css" rel="stylesheet" />
  <!-- unique css -->
  <link href="./style/style.scss" rel="stylesheet" />
</head>
